body{
    margin: 0;
}
div {
    background: url("img/free-red-backgrounds-1920x1200.jpg");
    background-size: cover;
    padding-bottom: 150px;
    overflow: auto;

}
table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    text-align: center;
    color: grey;
    border: 1px solid grey;
    border-left: 0;
    border-top:0;
    border-bottom-width: 3px;
}
th{
    color: white;
    background-color: rgba(30, 255, 30, 0.3);
}
.marked{
    background-color: white;
    color: blue;
}

